@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');
/*---->Reusable Conmonent Area Start<----*/
/*---->Reusable Conmonent Area Start<----*/

$montserrat: 'Montserrat', sans-serif;
.hero-heading-text2{
    color: #323F73;
    font-family: $montserrat;
    font-weight: bold;
}
.card-style{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.25rem;
}
.reusable-btn{
    background-color: #FFD888;
    color: #fff;
    width: 131px;
    height: 52px;
}
.reusable-icon-with-btn{
    width: 120px;
    height: 40px;
    background-color: #FFD9CC;
    color: #E95829;
}
.lead{
    font-family: $montserrat;
}
/*---->Reusable Conmonent Area End<----*/
/*---->Reusable Conmonent Area End<----*/



/*---->Header Section Start<----*/
/*---->Header Section Start<----*/
.header-bg{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 794px;
    background: linear-gradient(-180deg , rgba(237,239,245,255) 0%, rgba(255,255,255,255) 100%);
}
/*---->Header Section End<----*/
/*---->Header Section End<----*/

/*---->Navigation Section Start<----*/
/*---->Navigation Section Start<----*/
.navbar{
    .container{
        .navbar-brand{
            color: #323F73;
            font-family: $montserrat;
            font-weight: bold;
        }
        .navbar-nav{
            .nav-item{
                padding-right: 4rem;
                .nav-link{
                    color: #323F73;
                    font-family: $montserrat;
                    font-weight: 400;
                }
            }
            .nav-btn-style{
                background-color: #323F73;
                color: #fff;
            }
        }
    }
}

/*---->Navigation Section End<----*/
/*---->Navigation Section End<----*/


/*---->Extra Small Device Start<----*/
/*---->Extra Small Device Start<----*/
.container-fluid{
    .custom-margin{
        margin-top: 2rem;
    }
}
/*---->Extra Small Device End<----*/
/*---->Extra Small Device End<----*/


/*---->Hero Section Start<----*/
/*---->Hero Section Start<----*/
.container-fluid{
    .row{
        .hero-heading-text{
            margin-top: 50px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 48px;
            color: #323F73;
        }
        .hero-para-text{
            color: #95AFBA;
            font-size: 24px;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        form{
            .input-group{
                width: 100%;
                height: 50px;
                margin-top: 30px;
            }
            input[type=email]{
                background: #F5F8FA;
                border-left: none;
                height: 50px;
            }
            .input-group-text{
                background: #F5F8FA;
            }
            .submit-btn-bg-color{
                background-color: #FF416C;
                color: #fff;
            }
            button, span{
                border-top-right-radius: 12px;
                border-bottom-right-radius: 12px;
                border-top-left-radius: 12px;
                border-bottom-left-radius: 12px;
                }
        }
        .hero-image{
            width: 100%;
            height: auto;
            margin-left: 20px;
            margin-top: 40px;
        }
        .card{
            .hero-img-control{
                padding-left: 1.5rem;
                padding-top: 3rem;
                background-color: inherit;
            }
        }
        .card-style{
            border: none;
            background-color: inherit;
        }

    }
    .hero-section-fixed{
        margin-right: 0;
        margin-left: -10px;
    }
}
/*---->Hero Section End<----*/
/*---->Hero Section End<----*/

/*---->Icon Section Start<----*/
/*---->Icon Section Start<----*/
.container{
    .margin-icon-section{
        margin-top: 120px;
    }
}
/*---->Icon Section End<----*/
/*---->Icon Section End<----*/

/*---->Meet Our Products Section Start<----*/
/*---->Meet Our Products Section Start<----*/
.container-fluid{
    .row{
        .col-extra-padd-remove{
            padding: 0;
            .card-border{
                border: none;
            }
        }
        .card-border{
            border: none;
            padding: 1px;
            .meet-heading-text{
                color: #323F73;
            }
        }
        .card-obj{
            padding-left: 3rem;
        }
        .btn-icon{
            max-width: 20px;
            margin-left: -4px;
        }
        .learn-btn-text{
            margin-left: 20px;
        }
        .hero-heading-text2{
            color: #323F73;
            margin-top: 30px;
            font-family: $montserrat;
            font-weight: 400;
        }
        hr{
            width: 92px;
            height: 1px;
            background-color: #FFD888;
        }
        .meet-para-section{
            color: #95AFBA;
            font-family: $montserrat;
        }
        .fas-icon-color{
            color: #FFD9CC;
            padding-right: 5px;
            margin-bottom: 20px;
        }
        .list-border-none{
            border: none;
        }
        .meet-para-text{
            color: #95AFBA;
            font-family: $montserrat;
        }
    }
}
/*---->Meet Our Products Section End<----*/
/*---->Meet Our Products Section End<----*/


/*---->Meet Our Products 2nd & 3r Section Start<----*/
/*---->Meet Our Products 2nd & 3r Section Start<----*/
.container{
    .row{
        .card-border{
            border: none;
            padding: 1px;
            .meet-heading-text{
                color: #323F73;
            }
        }
        .btn-icon{
            max-width: 20px;
            margin-left: -4px;
        }
        .learn-btn-text{
            margin-left: 20px;
        }
        .hero-heading-text2{
            color: #323F73;
            margin-top: 30px;
            font-family: $montserrat;
            font-weight: 400;
        }
        hr{
            width: 92px;
            height: 1px;
            background-color: #FFD888;
        }
        .meet-para-section{
            color: #95AFBA;
            font-family: $montserrat;
        }
        .fas-icon-color{
            color: #FFD9CC;
            padding-right: 5px;
            margin-bottom: 20px;
        }
        .list-border-none{
            border: none;
        }
        .margin-auto-btn{
            margin-top: 10px;
        }
        .reusable-icon-with-btn{
            margin-top: -24px;
        }
    }
}
/*---->Meet Our Products 2nd & 3r Section End<----*/
/*---->Meet Our Products 2nd & 3r Section End<----*/

/*People Use Our Software Section Start*/
/*People Use Our Software Section Start*/

.container{
    .row-bg{
        background: linear-gradient(-180deg , rgba(237,239,245,255) 0%, rgba(250,250,250,255) 100%);
        .card{
            border: none;
            padding: 3.5rem;
            .list-group{
                .list-group-item-padding{
                    padding: 0.50rem 0.80rem;
                    background: linear-gradient(-180deg, #f5f6f9 0%, #fafafa 100%);
                }
            }
        }
    }
}

/*People Use Our Software Section End*/
/*People Use Our Software Section End*/


/*---->FAQ Section Start<----*/
/*---->FAQ Section Start<----*/
.container-fluid{
    .row{
        .row{
            .hero-heading-text2{
                margin: auto;
                font-family: $montserrat;
                font-weight: 400;
            }
            .meet-para-section{
                text-align: center;
                font-family: $montserrat;
            }
            .li-item-text1{
                color: #23A9A1;
                margin-left: 10px;
                font-size: 16px;
            }
            .li-item-text2, .li-item-text3, .li-item-text4{
                margin-left: 10px;
                font-size: 16px;
            }
            .border-none{
                border: none;
            }
            .line-art{
                display: inline-block;
            }
            .list-group{
                .border-left-line{
                    border-left: 5px solid #FFD888;
                    margin-top: 40px;
                }
            }
            .text-align-left{
                text-align: left;
                margin-top: 5px;
            }
            .para-margin-top{
                margin-top: 30px;
            }
        }
        .border-none{
            border: none;
        }
        .col-fixed-margin{
            padding-right: 0;
        }
    }
}
/*---->FAQ Section End<----*/
/*---->FAQ Section End<----*/

/*Other Section One Start*/
/*Other Section One Start*/
.container{
    .row{
        .card{
            .btn-width-lg{
                width: 200px;
            }
        }
        .row-bg-gray{
            background: linear-gradient(-180deg , rgba(237,239,245,255) 0%, rgba(250,250,250,255) 100%);
            .border-none{
                background-color: inherit;
                border: none;
                padding: 60px;
                .hero-heading-text2{
                    margin-top: 10px;
                    font-weight: bold;
                }
            }
        }
        .card-body-bg{
            background-color: rgba(237,239,245,1);
            background: linear-gradient(to bottom, rgba(237,239,245,1) 0%, rgba(237,239,245,1) 60%, rgba(255,255,255,1) 100%);
        }
        .card-fixed{
            background: inherit;
            padding: 4rem;
            border: none;
        }
        .card-img-fixed{
            width: 70px;
        }
        .card-img-style-3{
            width: 50px;
            margin-left: 10px;
            margin-top: -40px;
        }
        .card-img-style-4{
            margin-left: -30px;
            height: 100px;
        }
        .card-img-style-5{
            width: 50px;
            margin-left: -32px;
            margin-top: 40px;
        }
        .hero-heding-text2{
            color: #323F73;
            font-size: 32px;
            font-family: $montserrat;
            font-weight: 500;
        }
        .col-bg-fixed{
            background-image: linear-gradient(to bottom, #F2F3F7, #F3F4F7, #F4F5F7, #F5F6F8, #F6F7F8);
        }
        .row-fixed-img{
            padding: 4rem;
        }
    }
}
/*Other Section One End*/
/*Other Section One End*/

/*Other Section Two Start*/
/*Other Section Two Start*/
.container{
    .row{
        .card{
            .hero-heading-text2{
                margin-top: 0;
                margin-bottom: 30px;
            }
        }
        form{
            .input-group{
                width: 100%;
                height: 50px;
                margin-top: 30px;
            }
            input[type=email]{
                background: #F5F8FA;
                border-left: none;
                height: 50px;
            }
            .input-group-text{
                background: #F5F8FA;
            }
            .submit-btn-bg-color{
                background-color: #FF416C;
                color: #fff;
            }
            button, span{
                border-top-right-radius: 12px;
                border-bottom-right-radius: 12px;
                border-top-left-radius: 12px;
                border-bottom-left-radius: 12px;
                }
        }
    }
}
/*Other Section Two End*/
/*Other Section Two End*/

/*Blog & Podcast Section Start*/
/*Blog & Podcast Section Start*/
.container-fluid{
    .row{
        .card-title{
            text-align: end;
        }
        .btn-item-style{
            height: 60px;
            width: 60px;
            border: 1px solid #dcdada;
            font-weight: bold;
            font-size: 30px;
        }
        .btn-item-style:last-child{
            margin-left: 15px;
        }
        .card-body{
            background: #EDEFF5;
        }
        .hero-heading-text4{
            color: #323F73;
            font-size: 20px;
            font-family: $montserrat;
        }
        .hero-para-text4{
            color: #95AFBA;
            font-size: 18px;
            font-family: $montserrat;
        }
    }
}
/*Blog & Podcast Section End*/
/*Blog & Podcast Section End*/

/*Footer Section Start*/
/*Footer Section Start*/
.container{
    .row{
        .fixed-width{
            width: 247px;
            height: 260px;
            .hero-heading-text2{
                margin-bottom: 2rem;
                font-family: $montserrat;
            }
            .meet-para-section{
                text-align: inherit;
                font-family: $montserrat;
            }
        }
        .mb-5{
            margin-bottom: 7rem !important;
        }
        .list-group-item-fixed{
            background-color: #EDEFF5;
            border: none;
            margin-left: 10rem;
            color: #95AFBA;
        }
        .list-group-item-fixed:first-child{
            margin-left: -20px;
        }
        .list-text-color{
            color: #323F73;
        }
        .navbar-padding-none{
            padding: 0;
        }
        .link-color{
            color: #323F73;
            font-family: $montserrat;
        }
        .copyright-para-section{
            color: #323F73;
        }
        .card-title-padding{
            padding: 2rem;
            margin-bottom: 0;
            font-family: $montserrat;
        }
        .textarea-style{
            background-color: #F5F8FA;
            border: none;
        }
        .contact-btn-style{
            color: #fff;
            background-color: #FF416C;
            margin-top: 1.5rem;
            width: 150px;
            height: 60px;
        }
        .border-none{
            border: none;
            background: rgb(215,215,215);
            background: linear-gradient(172deg, #e0e2e4 0%, #edeff5 100%);
        }
        .nav-item-style{
            padding: 1rem;
            font-size: 1.5rem;
        }
    }
}

.container-fluid{
    .row{
        .img-control{
            width: 100%;
            height: 5px;
        }
    }
}
/*Footer Section End*/
/*Footer Section End*/

















/*---->Media Queries Section Start<----*/
/*---->Media Queries Section Start<----*/
/*---->Media Queries Section Start<----*/
/*---->Media Queries Section Start<----*/



/* Extra small devices (phones, 600px and down) */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container-fluid{
        .header-bg{
            height: 40%;
        }
    }
    .container-fluid{
        .row{
            .display-none-xs-device{
                display: block;
            }
        }
    }
    .container-fluid{
        .custom-padding{
            padding-right: 2rem;
            padding-left: 2rem;
            text-align: center;
        }
    }
    .container-fluid{
        .row{
            .md-d-none{
                display: none;
            }
            .meet-heading-text{
                text-align: center;
            }
            .meet-para-section{
                text-align: center;
                margin-top: 2rem;
            }
            hr{
                margin: auto;
            }
            .reusable-icon-with-btn{
                margin: auto;
            }
            .hero-heading-text2{
                font-size: 24px;
            }
            .list-group-item{
                padding: 0;
            }
            .margin-auto-btn{
                margin: auto;
            }
            .ul-center{
                margin: auto;
            }
        }
    }

    .container{
        .row{
            margin-top: 2rem;
            .reusable-icon-with-btn{
                margin: auto;
            }
            .hero-heading-text2{
                text-align: center;
            }
            hr{
                margin: auto;
            }
            .meet-para-section{
                text-align: center;
            }
            .list-border-none{
                padding: 0;
                margin: auto;
            }
            .margin-auto-btn{
                margin: auto;
            }
            .card{
                .img-fluid{
                    display: none;
                }
            }
        }
    }



    .container{
        .row{
            .card{
                .hero-heading-text2{
                    font-size: 1.5rem;
                    padding: 0;
                }
                .meet-para-section{
                    font-size: medium;
                }
            }
            .xs-d-none{
                display: none;
            }
        }
    }

    .container-fluid{
        .row{
            .custom-ml-auto{
                text-align: center;
            }

            .d-sm-none{
                display: none;
            }
            .list-group-item{
                margin: auto;
            }
        }
    }

    .container{
        .row-m-fixed{
            margin-top: 0;
        }
    }
    .display-none-md{
        display: none;
    }
    .container{
        .row{
            .show-display{
                display: block !important;
            }
        }
    }
    .display-none-all{
        display: none;
    }
}
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
    /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .container-fluid{
        .header-bg{
            height: 50%;
        }
    }
    .container-fluid{
        .row{
            .display-none-xs-device{
                display: none;
            }
        }
    }
    .container-fluid{
        .custom-padding{
            padding-right: 3rem;
            padding-left: 3rem;
            text-align: center;
        }
    }
    .container-fluid{
        .row{
            .md-d-none{
                display: none;
            }
            .meet-heading-text{
                text-align: center;
            }
            .meet-para-section{
                text-align: center;
            }
            hr{
                margin: auto;
            }
            .reusable-icon-with-btn{
                margin: auto;
            }
            .ul-center{
                margin: auto;
            }
            .margin-auto-btn{
                margin: auto;
            }
            .hero-heading-text2{
                font-size: 24px;
            }
        }
    }

    .container{
        .row{
            margin-top: 2rem;
            .reusable-icon-with-btn{
                margin: auto;
            }
            .hero-heading-text2{
                text-align: center;
            }
            hr{
                margin: auto;
            }
            .meet-para-section{
                text-align: center;
            }
            .list-border-none{
                padding: 0;
                margin: auto;
            }
            .margin-auto-btn{
                margin: auto;
            }
            .card{
                .img-fluid{
                    display: none;
                }
            }
        }
    }

    .container{
        .row{
            .card{
                .hero-heading-text2{
                    font-size: 1.5rem;
                    padding: 0;
                }
                .meet-para-section{
                    font-size: medium;
                }
            }
            .xs-d-none{
                display: none;
            }
        }
    }


    .container-fluid{
        .row{
            .custom-ml-auto{
                text-align: center;
                padding-left: 2.5rem;
            }

            .d-sm-none{
                display: block;
            }
            .list-group-item{
                margin: auto;
            }
        }
    }
    .container{
        .row-m-fixed{
            margin-top: 0;
        }
    }
    .display-none-md{
        display: none;
    }
    .col-fixed-margin{
        display: none;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .navbar{
        .container{
            .navbar-nav{
                .nav-item{
                    padding-right: 0.9rem;
                }
            }
        }
    }
    .container-fluid{
        .custom-padding{
            text-align: left;
        }
    }
    .container-fluid{
        .row{
            hr{
                margin-left: 0;
            }
            .md-d-none{
                display: block;
            }
        }
    }
    .container-fluid .row .row .hero-heading-text2{
        margin: inherit;
    }
    .container-fluid{
        .row{
            .margin-auto-btn{
                margin-left: 0;
            }
            .reusable-icon-with-btn{
                margin-left: 0;
            }
            .meet-para-section{
                text-align: left;
            }
        }
    }
    .container-fluid .row .row .meet-para-section{
        text-align: left;
    }
    .container-fluid .row .ul-center{
        margin: 0;
    
    }



    .container{
        .row{
            margin-top: 2rem;
            .reusable-icon-with-btn{
                margin-left: 0;
            }
            .hero-heading-text2{
                text-align: left;
            }
            hr{
                margin-left: 0;
            }
            .meet-para-section{
                text-align: left;
            }
            .list-border-none{
                padding: 0;
                margin-left: 0;
            }
            .margin-auto-btn{
                margin-left: 0;
            }
            .card{
                .img-fluid{
                    display: block;
                    min-height: inherit;
                }
            }
        }
    }

    .container{
        .row{
            .card{
                .hero-heading-text2{
                    font-size: 1.5rem;
                    padding: 0;
                }
            }
            .xs-d-none{
                display: block;
            }
        }
    }
    .container-fluid{
        .row{
            .d-sm-none{
                display: block !important;
            }
        }
    }
    .container{
        .row-m-fixed{
            margin-top: 0;
        }
    }
    .display-none-md{
        display: block;
    }
    .col-fixed-margin{
        display: block;
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .navbar{
        .container{
            .navbar-nav{
                .nav-item{
                    padding-right: 3.7rem;
                }
            }
        }
    }
    .container-fluid{
        .row{
            .margin-auto-btn{
                margin-left: 0;
            }
            .reusable-icon-with-btn{
                margin-left: 0;
            }
            .meet-para-section{
                text-align: left;
            }
        }
    }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .container-fluid{
        .custom-padding{
            padding-right: 0.5rem;
            padding-left: 10.5rem;
        }
    }
    .container-fluid{
        .row{
            .margin-auto-btn{
                margin-left: 0;
            }
            .reusable-icon-with-btn{
                margin-left: 0;
            }
            .meet-para-section{
                text-align: left;
            }
        }
    }
  }








